
.top {
    position: relative;
    top: 0;
    left: 0;
    background-color: #cf4646;
    display: block;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    text-align: center;
    color: #fff;

}

hr {
    border: 1px 0 0 1px;
    border-color: white;
    /*border-width: 3px;*/
}

.anchor {

}

.login {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}