/*css for media queries responsive design*/

/* go check codeup repository for follow up */

/*inital setup for mobile*/
/*reset styles*/

body {
    /*...*/

}

h1 {
    text-align: center;
}

.alert-info {
    padding: 1em;
    background-color: aqua;
    text-align: center;

}
.alert-info>a {
    text-decoration: none;
    color:black;
}

.nav-links {
    /*float: right;*/
    padding: 0;
}
.nav-links li {
    display: block;
    text-align: center;
    background-color: darkgrey;
    margin: .5em;
    padding: 1em;
}

img {
    height: 224px;
    width: 339px;
    margin-left: 10px;
}
#social-media-links {
    float: right;
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

    body{
        margin:0 15% 0 15%;
        width:890px

    }
    h1 {
        float: left;
    }
    footer {
        clear: both;
    }

    .hidden-on-desktop {
        visibility: hidden;
    }
    .nav-links {
        float: right;
    }
    .nav-links li {
        /*float: right;*/
        display: inline-block;
        background-color: transparent;
    }
    .header-img > img {
        clear: both;
        width: 890px;
        height: 385px;
    }
    .main {
        width: 60%;
        float: left;
    }
    .sub-section {
        width:30%;
        float: right;
    }
    #social-media-links {
        float: right;
    }
}


