/*Positioning Exercise*/


header>h1{
    /*text-align: center;*/
    margin-bottom: 0px;
}

.box{
    font-size: 14px;
    font-weight: bold;
    color: white;
    width:50px;
    height:50px;
    padding:10px;
    border:1px solid black;
    margin:10px;
    margin-top:50px;
    margin-right: 50px;
    float: left;
    position: relative;
}

.box>img{
    position: absolute;
    top:-40px;
    right:-40px;
}

.box:nth-child(4) {
    clear: left;
}

/*#container {*/
    /*position: absolute;*/
/*}*/

#codeup-ribbon{
    position: absolute;
    top: 0;
    right: 0;
}

#bx1 {

    background-color: red;
    /*margin-left: 35%;*/
}

#bx2 {
    background-color: orange;
    /*margin-left: 30px;*/
}

#bx3 {
    background-color: yellow;
    /*margin-left: 60px;*/
}

#bx4 {
    background-color: green;
    /*margin-left: 90px;*/
    /*margin-left: 35%;*/

}

#bx5 {
    background-color: blue;
    /*margin-left: 120px;*/
}

#bx6 {
    background-color: violet;
    /*margin-left: 150px;*/
}