/*css for texas flag*/

/*class section*/
body {
    background-color: white;
}

.flag {
    position: relative;
    top: 0;
    margin: auto;
    width: 1200px;
    height: 600px;
    border-width: 20px;
    border-color: black;
    background-color: white;

}

.blue {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    height: 100%;
    width: 40%;
    float: left;
}

#star {
    position: absolute;
    top:30%;
    left:25%;
    color: white;;
    box-sizing: content-box;
    font-size: 10rem;
}
/*code for star from
https://css-tricks.com/examples/ShapesOfCSS/
*/
.star {
    margin: 50px 0;
    /*float: left;*/
    position: relative;
    /*position:fixed;*/
    top: 35%;
    left: 25%;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid white;
    border-left:   100px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
}

.star:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform:    rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    -o-transform:      rotate(-35deg);

}
.star:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform:    rotate(-70deg);
    -ms-transform:     rotate(-70deg);
    -o-transform:      rotate(-70deg);
    content: '';
}


.red {
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 55%;
    width: 100%;
}

.white {
    background-color: white;
    poition: fixed;
    top: 0;
    right: 0;
    height: 55%;
    width: 100%;
}

/*<div id="star-five"></div>*/